@import "./paragraphs.css";
@import "./vars.css";

/* Universal styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* root element styles */
html {
  font-size: 62.5%; /*so as 1rem is equal to 10px*/
}

/* body styles */
body {
  background-color: var(--background-color-dark);
  color: var(--white);
  font-size: 1.6rem;
}

/* paragraphs */
