@import "./componentStyles/paragraphs.css";
@import "./componentStyles/navbarStyle.css";
@import "./vars.css";

/* Universal styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* root element styles */
html {
  font-size: 62.5%; /*so as 1rem is equal to 10px*/
}

/* body styles */
body {
  background-image: url("./../assets/design/images/texture.png");
  background-color: var(--background-color-dark);
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--white);
  font-size: 1.6rem;
  padding: 1rem 5rem;
}

/* paragraphs */
