*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*COLOR PALLETE*/
:root {
  --black: #0c0c0c;
  --blue: #18bef0;
  --white: #fbfaff;
  --gray: #ccc;
}
body {
  font-family: "Monserrat", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADINGS*/
.heading {
  text-transform: capitalize;
}
.small {
  text-transform: lowercase;
  font-weight: 600;
}
.company-name {
  color: var(--blue);
}

.hero-section {
  background: url("../images/travevl3.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero-section p {
  font-size: 1.5em;
}

.about-section,
.services-section,
.contact-section {
  padding: 60px 0;
}

.services-section .col-md-4 {
  padding: 20px 0;
}

.contact-section form {
  max-width: 600px;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .hero-section {
    height: 60dvh;
  }
  .hero-section h1 {
    font-size: 5rem;
  }
}

/*INPUTS*/
.form-control {
  border: 2px solid var(--blue) !important;
}

/*IMAGES*/
.swiper-slide {
  height: 10rem;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
    height: 20rem;
  }
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*NAVIGATION*/

.nav-link {
  font-weight: 600;
  color: var(--blue) !important;
}
.nav-link:hover {
  color: var(--blue) !important;
  transition: all 0.3s;
  text-decoration: underline;
  
}

/*BUTTONS*/
.btn {
  outline: 0 !important;
  border: none !important;
}
/*SECTIONS*/
.about-section {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url("images/travevl3.png");
}
.services-section {
  background: #f7fcfd;
}
@media screen and (max-width: 600px) {
  .about-section {
    display: none;
  }
  #about:target {
    display: block;
  }

  .faqs__container {
    grid-template-columns: 1fr;
  }

  .faq {
    padding: 1.5rem;
  }
  .team__container {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .team__member {
    padding: 0;
  }

  .team__member p {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .about-section {
    display: none;
  }
  #about:target {
    display: block;
  }

  .team__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .team__member {
    padding: 1rem;
  }
}

/*COLORS*/
.blue {
  color: var(--blue);
}
.black {
  color: var(--black);
}
.white {
  color: var(--white);
}
.gray {
  color: var(--gray);
}

.bg-blue {
  background: var(--blue);
}
.bg-black {
  background: var(--black);
}
.bg-white {
  background: var(--white);
}
.bg-gray {
  background: var(--gray);
}

.box {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.137);
}

/* FAQS */
.faqs h2 {
  color: var(--blue);
  padding: 3rem;
  text-align: center;
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.add-icon {
  color: var(--blue);
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq__icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/* OUR TEAM */
.team h2 {
  color: var(--blue);
  text-align: center;
  padding: 3rem;
}

.team__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-right: 2rem;
}

.team__member {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border: 1px solid transparent;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
.team__member:hover {
  background: transparent;
  border-color: var(--blue);
}

/* .team__member-image img{
width: fit-content;
}  */

.team__member-info * {
  text-align: center;
  margin-top: 1.4rem;
}

.team__member-socials {
  position: absolute;
  top: 50%;
  right: -100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  transform: translateY(-50%);
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

.team__member:hover .team__member-socials {
  right: 0;
}

.team__member-socials a {
  padding: 1rem;
}
